<!DOCTYPE html>
<html>
<head th:replace="layout/base-layout :: head"></head>
<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header"><h4>Register</h4></div>
					<div class="card-body">
						<form th:action="@{/auth/register}" th:object="${user}"method="POST">
							<div class="row form-group">
								<label class="col-md-3">Name</label>
								<input type="text" class="form-control col-md-7" th:field="*{username}"/>
							</div>
							
							<div class="row form-group">
								<label class="col-md-3">Email</label>
								<input type="text" class="form-control col-md-7" th:field="*{email}"/>
							</div>
							
							<div class="row form-group">
								<label class="col-md-3">Password</label>
								<input type="password" class="form-control col-md-7" th:field="*{password}"/>
							</div>
							
							<div class="row form-group">
								<input type="submit" class="btn btn-success btn-block col-md-7 offset-3" value="confirm"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>